<div class="container wrapper">
    <div class="row">
        <h1 class="col-sm-12 text-center">Pets</h1>
    </div>
    <div class="row">
        {{#each pets}}
            {{#if @first}}
                <div class="card-deck">
            {{else}}
                {{#cardControl @index}}
                </div>
                <div class="card-deck">
                {{/cardControl}}
            {{/if}}
            <div id="pet-{{this._id}}" class="card">
                <a href="{{this.petURI}}" target="_blank">
                    <img src="./media/{{this.domain}}/{{this.petId}}/{{this.imgs.[0]}}" class="card-img-top" alt="{{this.name}} | {{this.breed}}" title="{{this.name}} | {{this.breed}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title petName">{{this.name}}</h5>
                    <p class="card-text petBreed">{{this.breed}}</p>
                    
                </div>
                <div class="card-footer">
                <p class="card-text petDomain"><small class="text-muted">{{this.domain}}</small></p>
                </div>
            </div>

            {{#if @last}}
                </div>
            {{/if}}
            
        {{/each}}
    </div>


</div>

</div>
{{!-- <div class="container wrapper">
    {{#each articles}}
    <a href="/games/{{this._id}}">
        <div class="item">
            <div class="top">
                <div class="title">{{this.title}}</div>
            </div>
            <div class="content">
                {{this.review}}
            </div>
            <div class="bottom">
                <div class="rating">
                    <span>Rating:</span>{{this.rating}}/10
                </div>
            </div>
        </div>
    </a>
    {{/each}}

    <a href="/dashboard">
        <div class="pull-right">Admin -></div>
    </a>
</div> --}}