<div class="container wrapper">
    <div class="row">
        <h1 class="col-sm-12 text-center">Pets</h1>
    </div>
    <div class="row">
        <div class="card-columns">
        {{#each pets}}
            <div id="pet-{{this._id}}" class="card">
                <a href="{{this.petURI}}" target="_blank">
                    <img src="./media/{{this.domain}}/{{this.petId}}/{{this.imgs.[0]}}" class="card-img-top" alt="{{this.name}} | {{this.breed}}" title="{{this.name}} | {{this.breed}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title petName">{{this.name}}</h5>
                    <p class="card-text petBreed">{{this.breed}}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text petDomain"><small class="text-muted">{{this.domain}}</small></p>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>

<div class="container">
    {{>nav}}
</div>